/* font-family */
@font-face {
  font-family: shouxieti;
  src: url(/css/_fonts/ZhuZiAYuanJWD.ttf);
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
code,
pre,
span,
div,
figure.highlight pre .comment,
#article-container figure.highlight .code pre .line {
  font-family: shouxieti, sans-serif;
}

.card {
  border: 1px solid #fed330;
  border-radius: 15px !important;
}
.navbar-main {
  border-bottom: 1px solid #fed330;
}

body > .section {
  background: linear-gradient(135deg,#8e9eab,#eef2f3);
}